In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def redshift():
    global eng
    with open("/home/mnamoff/Credentials/MXRedshift_user") as user_file:
        username = user_file.read()
    with open("/home/mnamoff/Credentials/MXRedshift_pw") as user_pass:
        password = user_pass.read()
    eng = create_engine("postgres://" + username + ":" + password + "@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds")
    return(eng)
redshift()

Engine(postgres://rds_read:***@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds)

In [3]:
q = """

SELECT storenumber, (cast(getdate() AS date) - store_opened_date) as age
from __storesupporttable
WHERE store_opened_date is not null

"""

In [4]:
age = pd.read_sql_query(q, eng)

In [5]:
age['age'] = age['age'].dt.days

In [6]:
age['storenumber'] = age['storenumber'].astype('str')

In [7]:
age.head()

  storenumber    age
0           3   9062
1           4   8880
2           5  10796
3           7   8392
4           8   8697

In [7]:
age.to_pickle("age_regression.pkl")