In [1]:
import pandas as pd
import datetime
from sqlalchemy import create_engine
from pandasql import *
pysqldf = lambda q: sqldf(q, globals())

In [2]:
def redshift():
    global eng
    with open("/home/mnamoff/Credentials/MXRedshift_user") as user_file:
        username = user_file.read()
    with open("/home/mnamoff/Credentials/MXRedshift_pw") as user_pass:
        password = user_pass.read()
    eng = create_engine("postgres://" + username + ":" + password + "@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds")
    return(eng)
redshift()

Engine(postgres://rds_read:***@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds)

In [3]:
q = """

SELECT storeid, fiscalyear, quarter, week, dow, ts.businessday, SUM(sales) AS total_sales
FROM (
      SELECT storeid, businessday,EXTRACT(dayofweek FROM businessday) AS dow, SUM(amount) AS sales
      FROM transactionsale
      WHERE businessday BETWEEN '2018-01-03' AND '2019-03-26'
      GROUP BY storeid, businessday, dow, servicetypeid
      ) ts

INNER JOIN (
      
      SELECT fiscalyear, quarter, periodnumber AS week, businessday
      FROM fiscalcalendar
      WHERE businessday BETWEEN '2018-01-03' AND '2019-03-26'
           )fc
         
ON ts.businessday = fc.businessday

GROUP BY storeid, ts.businessday, fiscalyear, quarter, week, dow
ORDER BY businessday

"""

In [4]:
r = pd.read_sql_query(q, eng)

In [5]:
qq = """

SELECT r1.storeid, r1.fiscalyear AS ty_fiscalyear, r1.quarter as ty_quarter, r1.week AS ty_week, r1.dow AS ty_dow, r1.total_sales AS ty_sales, 
r2.fiscalyear AS ly_fiscalyear, r2.quarter as ly_quarter, r2.week AS ly_week, r2.dow AS ly_dow, r2.total_sales AS ly_sales

FROM r as r1
INNER JOIN r as r2
ON r1.storeid = r2.storeid
AND ty_fiscalyear = (ly_fiscalyear + 1)
AND ty_quarter = ly_quarter
AND ty_week = ly_week
AND ty_dow = ly_dow

"""

In [6]:
result = pysqldf(qq)

In [7]:
result = result.groupby([
                "storeid",
               "ty_fiscalyear",
                'ty_quarter',
                #"ty_week",
                #"ty_dow"
                ]).agg({'ty_sales':sum, 'ly_sales':sum})
result = result.reset_index()

In [8]:
result['sales_comp'] = ((result['ty_sales']/result['ly_sales'])-1)

In [9]:
result = result.drop(columns=['ty_fiscalyear', 'ty_sales', 'ly_sales', 'ty_quarter'])

In [10]:
result.to_pickle("comps_regression_model.pkl")