In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pandasql import *
pysqldf = lambda q: sqldf(q, globals())

In [2]:
def redshift():
    global eng
    with open("/home/mnamoff/Credentials/MXRedshift_user") as user_file:
        username = user_file.read()
    with open("/home/mnamoff/Credentials/MXRedshift_pw") as user_pass:
        password = user_pass.read()
    eng = create_engine("postgres://" + username + ":" + password + "@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds")
    return(eng)
redshift()

Engine(postgres://rds_read:***@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds)

In [3]:
q = """

SELECT storeid, SUM(trx) as trans

FROM (

      SELECT storeid, businessday, SUM(transactioncount) as trx
      FROM transactionsale
      WHERE businessday BETWEEN '2018-01-03' AND '2019-03-26'
      GROUP BY storeid, businessday
      
      ) ts
      
INNER JOIN (

      SELECT fiscalyear, quarter, businessday
      FROM fiscalcalendar
      WHERE businessday BETWEEN '2018-01-03' AND '2019-03-26'
      
            ) fc
            
ON ts.businessday = fc.businessday
WHERE quarter = 1
GROUP BY storeid, quarter

"""

In [4]:
trans = pd.read_sql_query(q, eng)

In [5]:
trans.to_pickle("trans_regression.pkl")