In [1]:
import pandas as pd
from pandasql import *
pysqldf = lambda q: sqldf(q, globals())

In [2]:
df = pd.read_pickle("/home/mnamoff/masterlist.pkl")

In [3]:
q = """

SELECT storeid, (CASE WHEN state = 'AL' THEN 1 ELSE 0 END) AS 'Alabama',
(CASE WHEN state = 'AK' THEN 1 ELSE 0 END) AS 'Alaska',
(CASE WHEN state = 'AZ' THEN 1 ELSE 0 END) AS 'Arizona',
(CASE WHEN state = 'AR' THEN 1 ELSE 0 END) AS 'Arkansas',
(CASE WHEN state = 'CA' THEN 1 ELSE 0 END) AS 'California',
(CASE WHEN state = 'CO' THEN 1 ELSE 0 END) AS 'Coloardo',
(CASE WHEN state = 'CT' THEN 1 ELSE 0 END) AS 'Connecticut',
(CASE WHEN state = 'DC' THEN 1 ELSE 0 END) AS 'Dist_of_columbia',
(CASE WHEN state = 'DE' THEN 1 ELSE 0 END) AS 'Delaware',
(CASE WHEN state = 'FL' THEN 1 ELSE 0 END) AS 'Florida',
(CASE WHEN state = 'GA' THEN 1 ELSE 0 END) AS 'Georgia',
(CASE WHEN state = 'HI' THEN 1 ELSE 0 END) AS 'Hawaii',
(CASE WHEN state = 'ID' THEN 1 ELSE 0 END) AS 'Idaho',
(CASE WHEN state = 'IL' THEN 1 ELSE 0 END) AS 'Illinois',
(CASE WHEN state = 'IN' THEN 1 ELSE 0 END) AS 'Indiana',
(CASE WHEN state = 'IA' THEN 1 ELSE 0 END) AS 'Iowa',
(CASE WHEN state = 'KS' THEN 1 ELSE 0 END) AS 'Kansas',
(CASE WHEN state = 'KY' THEN 1 ELSE 0 END) AS 'Kentucky',
(CASE WHEN state = 'LA' THEN 1 ELSE 0 END) AS 'Louisiana',
(CASE WHEN state = 'ME' THEN 1 ELSE 0 END) AS 'Maine',
(CASE WHEN state = 'MD' THEN 1 ELSE 0 END) AS 'Maryland',
(CASE WHEN state = 'MA' THEN 1 ELSE 0 END) AS 'Massachusetts',
(CASE WHEN state = 'MI' THEN 1 ELSE 0 END) AS 'Michigan',
(CASE WHEN state = 'MN' THEN 1 ELSE 0 END) AS 'Minnesota',
(CASE WHEN state = 'MS' THEN 1 ELSE 0 END) AS 'Mississippi',
(CASE WHEN state = 'MO' THEN 1 ELSE 0 END) AS 'Missouri',
(CASE WHEN state = 'MT' THEN 1 ELSE 0 END) AS 'Montana',
(CASE WHEN state = 'NE' THEN 1 ELSE 0 END) AS 'Nebraska',
(CASE WHEN state = 'NV' THEN 1 ELSE 0 END) AS 'Nevada',
(CASE WHEN state = 'NH' THEN 1 ELSE 0 END) AS 'New_hampshire',
(CASE WHEN state = 'NJ' THEN 1 ELSE 0 END) AS 'New_jersey',
(CASE WHEN state = 'NM' THEN 1 ELSE 0 END) AS 'New_mexico',
(CASE WHEN state = 'NY' THEN 1 ELSE 0 END) AS 'New_york',
(CASE WHEN state = 'NC' THEN 1 ELSE 0 END) AS 'North_carolina',
(CASE WHEN state = 'ND' THEN 1 ELSE 0 END) AS 'North_dakota',
(CASE WHEN state = 'OH' THEN 1 ELSE 0 END) AS 'Ohio',
(CASE WHEN state = 'OK' THEN 1 ELSE 0 END) AS 'Oklahoma',
(CASE WHEN state = 'OR' THEN 1 ELSE 0 END) AS 'Oregon',
(CASE WHEN state = 'PA' THEN 1 ELSE 0 END) AS 'Pennsylvania',
(CASE WHEN state = 'RI' THEN 1 ELSE 0 END) AS 'Rhode_island',
(CASE WHEN state = 'SC' THEN 1 ELSE 0 END) AS 'South_dakota',
(CASE WHEN state = 'SD' THEN 1 ELSE 0 END) AS 'Texas',
(CASE WHEN state = 'TN' THEN 1 ELSE 0 END) AS 'Tennesse',
(CASE WHEN state = 'TX' THEN 1 ELSE 0 END) AS 'Texas',
(CASE WHEN state = 'UT' THEN 1 ELSE 0 END) AS 'Utah',
(CASE WHEN state = 'VT' THEN 1 ELSE 0 END) AS 'Vermont',
(CASE WHEN state = 'VA' THEN 1 ELSE 0 END) AS 'Virginia',
(CASE WHEN state = 'WV' THEN 1 ELSE 0 END) AS 'West_virginia',
(CASE WHEN state = 'WI' THEN 1 ELSE 0 END) AS 'Wisconsin',
(CASE WHEN state = 'WY' THEN 1 ELSE 0 END) AS 'Wyoming'
FROM df

"""

In [4]:
s = pysqldf(q)

In [5]:
s.to_pickle("state_regression.pkl")