In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pandasql import *
pysqldf = lambda q: sqldf(q, globals())

In [2]:
def redshift():
    global eng
    with open("/home/mnamoff/Credentials/MXRedshift_user") as user_file:
        username = user_file.read()
    with open("/home/mnamoff/Credentials/MXRedshift_pw") as user_pass:
        password = user_pass.read()
    eng = create_engine("postgres://" + username + ":" + password + "@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds")
    return(eng)
redshift()

Engine(postgres://rds_read:***@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds)

In [3]:
df = pd.read_pickle("/home/mnamoff/masterlist.pkl")

In [4]:
z = pd.read_excel("/home/mnamoff/miles.xlsx")

In [5]:
q = """

SELECT state, count(storenumber) as stores
FROM df
GROUP BY state
ORDER BY stores desc
"""

In [6]:
store = pysqldf(q)

In [7]:
sm = store.merge(z, on='state', how='inner')

In [8]:
sm['jimmy_johns_per_sm'] = sm['stores'] / sm['square_miles']

In [9]:
sm = sm.drop(columns=['stores', 'square_miles'])

In [10]:
qq = """

SELECT storeid, state
FROM df

"""

In [11]:
store2 = pysqldf(qq)

In [12]:
result = store2.merge(sm, on='state', how='inner')

In [13]:
result = result.drop(columns=['state'])

In [14]:
result.to_pickle("stores_per_squaremile_regression.pkl")